.personal_text h3{
    font-size: 30px;
    
}

.cus-welcome-box2{
    width: 99%;
    margin: 0 auto;
}

.cus-welcome-text{
    width:99%;
    margin: 0 auto;
    text-align: justify;
}

.welcome_text p {
    max-width: 750px;
}


/*****************************************/

.cus-text-center{
    text-align: center;
}

.cus-footer-text-xs{
    font-size: 12px;
}

.cus-margin-top-xs{
    margin-top: 1rem;
}

.cus-text-underline{
    text-decoration: underline;
}

.cus-text-italic{
    font-style:italic; 
}

.cus-margin-bottom-big{margin-bottom: 2rem;}

.cus-lightBold{font-weight: 400}

.lightBold{
    font-weight: 700;
}

ul.dashList{
    margin-left: 15px;
    list-style-type: none;
}
ul.dashList>li{
    text-indent: -15px;
}
ul.dashList>li:before{
    content: '-- ';
}
.section-publication p, .section-publication li{
    
    font-size: 1rem;
}

.section-publication li{
    margin-bottom: 1rem;
    text-align: justify;
}

/*******************************************/

.cus-mytabs-time{
    min-width: 11rem;
    text-align: right;
}

.cus-header-logo{
    width: 15rem;
}



/*publication section*/
.section-publication{
    width: 100%;
}

.cus-section-pub-width{
    width: 98%;
    margin: 0 auto;
}
.section-publication h2{
    font-size: 2rem;
}

.cus-pub-h3{
    font-size: 1.8rem;
    font-weight: 700;
}


.section-publication .cus-pub-box1{
    padding: 2rem 4rem;
} 

/************************************/

/*Honors*/
.cus-honor-h3{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    
}

.cus-honor-box1{
    padding: 2rem 4rem;
}

.cus-honor-box{
    width: 100%;
    padding: 1rem 1rem;  
    border-bottom: 2px solid  rgba(0,0,0, .5);
    margin-bottom: 1rem  
}

.cus-honor-box p{
    text-align: center;
}

.cus-honor-box-img{
    text-align: center;
}

.cus-honor-box-img img{
    width: 45%;
    display: inline-block;
    margin: 0.5rem;
    max-height: 20rem;
    object-fit: cover;
}
/***************************************/


.tabs_inner .tab-content .tab-pane .list {
    max-width: 800px;
}

.tabs_inner .tab-content .tab-pane .list:before {
    left:27%;
}

.tabs_inner .tab-content .tab-pane .list li span {
    left:27%;
}




/***************Research***************/



/**********************************/


@media (max-width:900px){
    .cus-mytabs-time{
        text-align: left;
    }

    .cus-honor-box1{
        padding: 0.5rem 0;
    }

    .section-publication .cus-pub-box1{
        padding: 1rem 0;
    } 

    .section-publication h2{
        font-size: 1.5rem;
    }
    
    .cus-pub-h3{
        font-size: 1.3rem;
    }

    .section-publication p, .section-publication li{
    
        font-size: .8rem;
    }
    
    .section-publication li{
        margin-bottom: .8rem;
    }

    .section-publication h2{
        font-size: 1.5rem;
    }

    .cus-honor-h3{
        font-size: 1.3rem;
    }

    .tabs_inner .tab-content .tab-pane .list {
        max-width: 464px;
    }
    
    .tabs_inner .tab-content .tab-pane .list:before {
        left:46%;
    }
    
    .tabs_inner .tab-content .tab-pane .list li span {
        left:46%;
    }
    .cus-desktop{
        display: none;
    }
}

@media only screen and (max-width: 600px) { 
    .cus-honor-box1{
        padding: 0.2rem 0;
    }

    .cus-honor-h3{
        font-size: 1rem;
    }

    .cus-honor-box{
        width: 100%;
        padding: 0.5rem 0;  
        
    }
    
    .cus-margin-bottom-big{
        margin-bottom: 1rem;
    }

    .cus-pub-h3{
        font-size: 1rem;
    }

    .section-publication h2{
        font-size: 1.3rem;
    }

}

